APP_HOST="localhost"
APP_PORT=50052
LOGGER_LEVEL="debug"

POSTGRES_HOST="localhost"
POSTGRES_PORT=5434
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="vacancy"

REDIS_HOST="localhost"
REDIS_PORT=6380
REDIS_DB=0