APP_HOST="localhost"
APP_PORT=50052
LOGGER_LEVEL="debug"

POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="vacancy"

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_TTL=PT5M
REDIS_TIMEOUT=0.3

RABBITMQ_HOST="localhost"
RABBITMQ_PORT=5672
RABBITMQ_USER="user"
RABBITMQ_PASSWORD="password"
RABBITMQ_CONSUMER_QUEUE="applications"