APP_HOST="localhost"
APP_PORT=50052
APP_SHUTDOWN_TIME=2
LOGGER_LEVEL="debug"

POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="vacancy"

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_DB=0
REDIS_CACHE_TTL=PT5M
REDIS_TIMEOUT=0.3

RABBITMQ_HOST="localhost"
RABBITMQ_PORT=5672
RABBITMQ_USER="user"
RABBITMQ_PASSWORD="password"
RABBITMQ_EXCHANGE="vacancy.applications"
RABBITMQ_ROUTING_KEY="vacancy.applications.new"
RABBITMQ_CONSUMER_QUEUE="vacancy.applications.update_queue"
RABBITMQ_SERVICE_TIMEOUT=0.5

VALIDATION_SERVICE_URL="http://localhost:8080"
VALIDATION_SERVICE_API_KEY="api-key"