APP_HOST="localhost"
APP_PORT=8000
LOGGER_LEVEL="info"
REQUEST_TIME=2s

AUTH_HOST="localhost"
AUTH_PORT=50051

APPLICATIONS_HOST="localhost"
APPLICATIONS_PORT=50053

VACANCY_HOST="localhost"
VACANCY_PORT=50052

VALIDATION_HOST="localhost"
VALIDATION_PORT=8080

