ENV="TESTS"
APP_HOST="localhost"
APP_PORT="8080"
LOGGER_LEVEL="info"

PROMETHEUS_PORT=9092
GRAFANA_PORT=3000
GF_SECURITY_ADMIN_USER="user"
GF_SECURITY_ADMIN_PASSWORD="password"

METRO_JSON="metro.json"
CITIES_JSON="cities.json"

API_KEY="KEY"

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_OUTPUT_PORT=6380
REDIS_DB=0
REDIS_TIMEOUT=0.3